.header {
  background-color: $prtimes-blue;

  &__container {
    display: flex;
    max-width: 1125px;
    margin: 0 auto;
    padding: 12px 0;
    align-items: center;
    color: $script-gray;
  }
}

.header-comment-prtimes {
  padding-left: 8px;
  font-size: 12px;
}

.header-reqest {
  padding-left: 20px;

  &__list {
    display: flex;
    background-color: #345584;
    border-radius: 4px;
    padding: 6px 8px 8px;
    color: $white;
    font-size: 13px;
  }

  &__list li {
    margin-right: 6px;
    padding-left: 10px;
  }

  &__list li + li {
    border-left: 1px solid $script-gray;
  }
}

.header-search {
  &__form {
    display: flex;
    padding-left: 15px;
  }

  &__input {
    width: 258px;
    height: 30px;
    border-radius: 4px 0 0 4px;
    background-color: white;
    padding-left: 8px;
    line-height: 30px;
    font-size: 13px;
  }

  &__button {
    height: 30px;
    width: 30px;
    border-radius: 0 4px 4px 0;
    background-color: $link-blue;
    background-image: url(../img/serch_icon.svg);
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.header-intro-navigation {
  width: 1125px;
  margin: 0 auto;
  padding: 12px 0;

  &__list {
    display: flex;
    color: $script-gray;
    font-size: 13px;
  }

  &__list li {
    margin-right: 6px;
    padding-left: 10px;
  }

  &__list li + li {
    border-left: 1px solid $script-gray;
  }

  &__list :hover {
    color: $white;
  }
}

.header-category-navigation {
  background-color: $white;

  &__list {
    display: flex;
    padding: 15px 0;
    justify-content: center;
    color: $prtimes-blue;
    font-size: 13px;
  }

  &__list li {
    padding: 0 10px;
  }

  &__list :hover {
    font-weight: bold;
  }
}
